*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-size: 14px;
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #F8F8F8;
    /* font-family: 'Microsoft Yahei'; */
}



/* 文本溢出省略... */
.text-ellipsis-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
}
.text-ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
}
.text-ellipsis-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient: vertical;
}

/* 公共样式 */
.font30{
    font-size: 30px;
    color: #222;
}

.main{
    width: 100%;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    overflow: auto;
}
.list{
    width: 100%;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* height: 200px; */
    margin-top: 32px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.mgt24{
margin-top: 24px;
}

.mgt48{
    margin-top: 48px;
    }